                *{
                    box-sizing: border-box;
                }
                /* style.css */
                .container{
                    width: 100vw;
                    height: 100vh;
                }
                /* Style the video: 100% width and height to cover the entire window */
                #myVideo {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    object-fit: cover; /* Ensures the video covers the entire container */
                    z-index: -1; /* Place the video behind other content */
                }
                #mobile-vedio{
                    display: none;
                
                }

                .header{
                    width:100%;
                    background-color:rgba(0,0,0,0.5);
                    position: fixed;
                    top:0;
                    left: 0;
                    height:150px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 10px;
                }
                .log img{
                    width: 130px;
                }
                
                .header button{
                    width: 50px;
                    flex-shrink: 0;
                    background: none;
                    border: none;
                    outline: none;
                    display: flex;
                    color: white;
                    flex-direction: column;
                    gap: 5px;
                    cursor: pointer;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-right: 50px;
                
                    
                }
                .header button .bar{
                    width: 100%;
                    height: 4px;
                    background-color: white;
                    border-radius: 10px;
                
                }
                .links{
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 100vh;
                    width: 250px;
                    z-index: 2;
                    background-color:rgb(255, 69, 0,0.3);
                    transform: translateX(-250px);
                    transition: 0.5s;
                
                }
                .link{
                    display: flex;
                    padding: 12px 15px;
                    font-size: 26px;
                    font-weight: 600;
                    text-decoration: none;
                    justify-content: center;
                    align-content: center;
                    color:black;
                    
                    
                
                }
                .link.active,.link:hover{
                    color:white;
                    background: radial-gradient(orangered,gray);
                    transition: 0.9s;
                }
                
                
                .open .links{
                    transform: translateX(0px);
                    box-shadow: 0 0 15px rgba(0,0,0,0.2) ;
                }
                .nav-overlay{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    backdrop-filter:blur(2px);
                    visibility: hidden;
                    opacity: 0;
                    background-color: rgpa(0,0,0,0.2);
                    transition: 0.3s;
                }
                .open .nav-overlay{
                    visibility: visible;
                    opacity: 1;
                }
                
                .reg{
                    font-size:22px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    background:radial-gradient(red,orangered,black);
                    border-radius: 50px 0 ;
                    text-shadow: 0 0 15px white;
                    transition: 0.9s;
                    font-weight: bold;
                    
                }
                .reg:hover{
                    border-radius: 0 50px ;
                    text-shadow: 0 0 15px black;
                }
                
                

                /* .style.css */



        /* about.css       */

        .container{
            display: flex;
            flex-direction: column;
            flex-direction: column;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            font-size: 20px;
        }

        .animated-border{
                    position: relative;
                    padding: 20px;
                    border: 10px solid transparent;
                    border-radius: 10px;
                    animation: borderAnimation 5s linear infinite;
                    z-index: -1;
                    margin:1200px auto 50px;
                    color: white;
                    width:700px;
                    display: flex;
                    box-sizing: border-box;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
            }
                
            .cen{
                display: flex;
                    justify-content: center;
                    width: 100vw;
                    flex-flow: row wrap;
                    
                    
                }
                .cen .cen-img{
                    width:400px;
                    height:400px;
                    text-align: center;
                    right: 0;
                    animation:logo linear  0.9s infinite ;
                    
                }

                @keyframes logo{
                    0%{rotate: 0deg;;}
                    10%{rotate: 10deg;;}
                    30%{rotate: -10deg;;}
                    45%{rotate: 5deg;;}
                    55%{rotate: -5deg;;}
                    60%{rotate: 0deg;;}
                }

                .images{
                width:100%;
                text-align: center;
                    
                }
                .content p{
                    
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    font-size: 28px;
                    width:100%;
                    text-indent:100px;
                    text-align: justify;
                }

                .images img{
                    display:inline-block;
                    width: 310px;
                    height: 100px;
                }
                .images .img1{
                    width: 200px;
                }

                @keyframes borderAnimation {
                    0% {
                        border-color: red;
                    }
                    25% {
                        border-color: rgb(0, 179, 255);
                    }
                    50% {
                        border-color: snow;
                    }
                    75% {
                        border-color: yellow;
                    }
                    100% {
                        border-color:pink;
                    }
                }

                .animated-border img {
                
                
                    border-radius: 10px;
                }
                .content h2{
                    background: linear-gradient(to right,rgb(0, 149, 255), orangered);
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-indent: 0px;
                    text-align: center;
                    font-size: 55px;
                    
                }

                /* animated-2 */
                .animated-border-2{
                    display: flex;
                    border:none;
                    outline: none;
                    border-radius: 20px;
                    width: 100vw;
                    justify-content: center;
                    background-color:rgb(255, 250, 250,0.6);
                    flex-direction: column;
                    padding: 10px;
                    box-shadow: 0 0 30px snow;
                    padding: 20px;
                    
                }
                
            .animated-border-2 .img-1 h1{
                text-align: center;
                font-weight: bold;
                background: linear-gradient(to right,rgb(0, 81, 255) 50%,orangered 50%);
                color: transparent;
                background-clip: text;
                
                }
                .animated-border-2 .img-2 h1{
                text-align: center;
                font-weight: bold;
                }
                .cse-imgs{
                    font-size: 22px;
                    background: linear-gradient(to right,rgb(0, 81, 255) 50%,orangered 50%);
                    color: transparent;
                    background-clip: text;
            
                }
                .about-cse{
                    padding: 10px;
                    font-size: 28px;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    text-align:justify;
                    text-indent: 100px;
                }
                .cse-logo img{
                    width: 300px;
                    height: 300px;
                    display: inline-block;
                    animation: shake 0.5s ease-in-out infinite;
                }
                .cse-logo{
                    width: 100%;
                    text-align: center;
                }
                
                @keyframes shake {
                    0%{transform: translateX(0);}
                    25%{transform: translateX(-5px);}
                    50%{transform: translateX(5px);}
                    75%{transform: translateX(-5px);}
                    100%{transform: translateX(0px);}
                    

                }



                /* about.css */




            /* moblie */
                @media (max-width:450px){

                    *{
                        box-sizing: border-box;
                        padding: 0;
                        margin: 0;
                    }
                    
                    body,html{
                        width: 100vw;
                        height: 100vh;
                    }

            /* navigation part */
                    .header button{
                        width: 50px;
                        flex-shrink: 0;
                        background: none;
                        border: none;
                        outline: none;
                        display: flex;
                        color: white;
                        flex-direction: column;
                        gap: 5px;
                        cursor: pointer;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-right: 50px;
                    
                        
                    }
                    .header button .bar{
                        width: 100%;
                        height: 4px;
                        background-color: white;
                        border-radius: 10px;
                    
                    }
                
                    .header{
                        width: 100vw;
                        background-color:rgba(0,0,0,0.5);
                        position: fixed;
                        top:0;
                        left: 0;
                        height:150px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 10px;
                    }
                    

                    #mobile-vedio{
        
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        display: flex;
                        object-fit: cover; /* Ensures the video covers the entire container */
                        z-index: -1;
                        height: 100%;
                        width: 100vw;
                        
                     }
                     #myVideo{
                         display:none;
                     }

                     .nav-overlay{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        backdrop-filter:blur(2px);
                        visibility: hidden;
                        opacity: 0;
                        background-color: rgpa(0,0,0,0.2);
                        transition: 0.3s;
                    }
                    .open .nav-overlay{
                        visibility: visible;
                        opacity: 1;
                    }
                    .links{
                        position: fixed;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 200px;
                        z-index: 2;
                        background-color:rgb(255, 69, 0,0.3);
                        transform: translateX(-250px);
                        transition: 0.5s;
                    
                    }

                    .reg{
                        font-size: 22px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        background:radial-gradient(red,orangered,black);
                        border-radius: 50px 0 ;
                        text-shadow: 0 0 15px white;
                        
                    }
                    .reg:hover{
                        border-radius: 0 50px ;
                        text-shadow: 0 0 15px black;
                    }



                    
                /* navigation part */

               /* animated-border */

              
               .container{
                display: flex;
                flex-direction: column;
                flex-direction: column;
                justify-content: center;
                width: 100vw;
                height: 100vh;
                font-size: 20px;
            }
    
            .animated-border{
                        position: relative;
                        padding: 20px;
                        border: 10px solid transparent;
                        border-radius: 10px;
                        animation: borderAnimation 5s linear infinite;
                        z-index: -1;
                        margin:1900px auto 50px;
                        color: white;
                        width:100vw;
                        display: flex;
                        box-sizing: border-box;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        
                }
                    
                .cen{
                    display: flex;
                        justify-content: center;
                        width:100%;
                        flex-flow: row wrap;
                        
                        
                    }
                    .cen .cen-img{
                        width:300px;
                        height:300px;
                        text-align: center;
                        right: 0;
                        animation:logo linear  0.9s infinite ;
                        
                    }
    
                    @keyframes logo{
                        0%{rotate: 0deg;;}
                        10%{rotate: 10deg;;}
                        30%{rotate: -10deg;;}
                        45%{rotate: 5deg;;}
                        55%{rotate: -5deg;;}
                        60%{rotate: 0deg;;}
                    }
    
                    .images{
                
                    text-align: center;
                        
                    }
                    .content p{
                        
                        font-family:Georgia, 'Times New Roman', Times, serif;
                        font-size: 22px;
                        width:100%;
                        text-align: justify;
                        width:100%;
                        margin-top: 25px;
                        text-indent: 70px;
                        
                    }
    
                    .images img{
                        display:inline-block;
                        width: 170px;
            
                    }
                    .images{
                        margin: 30px auto;
                    }
                    .images .syp-1{
                        width: 80px;
                    }
                    .images .syp-2{
                        height: 94px;
                        width: 180px;
                    }
                    
    
                    @keyframes borderAnimation {
                        0% {
                            border-color: red;
                        }
                        25% {
                            border-color: rgb(0, 179, 255);
                        }
                        50% {
                            border-color: snow;
                        }
                        75% {
                            border-color: yellow;
                        }
                        100% {
                            border-color:pink;
                        }
                    }
    
                    .animated-border{
                            border-radius:30px;
                    }
                    .content h2{
                        background: linear-gradient(to right,rgb(0, 149, 255), orangered);
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-align: center;
                        font-size: 55px;
                        
                    }


                  /* animated-border */

                  

              .animated-border-2{
                    display: flex;
                    border:none;
                    outline: none;
                    border-radius: 20px 20px 0px 0px;
                    width: 100vw;
                    justify-content: center;
                    background-color:rgb(255, 250, 250,0.6);
                    flex-direction: column;
                    padding: 10px;
                    box-shadow: 0 0 30px snow;
                    padding: 20px;
                    
                }
                
            .animated-border-2 .img-1 h1{
                text-align: center;
                font-weight: bold;
                background: linear-gradient(to right,rgb(0, 81, 255) 50%,orangered 50%);
                color: transparent;
                background-clip: text;
                padding-top: 30px;
    
                
                }
                .animated-border-2 .img-2 h1{
                text-align: center;
                font-weight: bold;
                }
                .cse-imgs{
                    font-size:18px;
                    background: linear-gradient(to right,rgb(0, 81, 255) 50%,orangered 50%);
                    color: transparent;
                    background-clip: text;
            
                }
                .about-cse{
                    padding: 10px;
                    font-size: 22px;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    text-align:justify;
                    text-indent:70px;
                    margin: 20px 0px;
                }
                .cse-logo img{
                    width: 300px;
                    height: 300px;
                    display: inline-block;
                    animation: shake 0.5s ease-in-out infinite;
                }
                .cse-logo{
                    width: 100%;
                    text-align: center;
                }
                
                @keyframes shake {
                    0%{transform: translateX(0);}
                    25%{transform: translateX(-5px);}
                    50%{transform: translateX(5px);}
                    75%{transform: translateX(-5px);}
                    100%{transform: translateX(0px);}
                    

                }


                  /* animated-border-2 */
                
                }